@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+HK:wght@100;300;400;500;700&display=swap');
:root {
    --primary: #7380ec;
    --danger: #ff7782;
    --success: #41f1b6;
    --warning: #ffbb55;
    --info-dark: #7d8da1;
    --info-light: #dce1eb;
    --dark: rgba(0,0,0,0.5);
    --primary-variant: #111e88;
    --dark-varient: #677483;
    --background: #f6f6f9;

    --card-radius: 2rem;
    --border-radius: 0.4rem;
    --border-radius2: 0.8rem;
    --border-radius3: 1.2rem;

    --card-padding: 1.8rem;
    --padding: 1.2rem;
    --box-shadow: 0 2rem 3rem darkgrey;
}

* {
    margin: 0;
    padding: 0;
    outline: 0;
    appearance: none;
    border: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

html {
    font-size: 14px;
}

body {
    width: 100vw;
    height: 100vh;
    font-family: 'Noto Sans HK', sans-serif;
    font-size: 0.88rem;
    background: var(--background);
    user-select: none;
    overflow-x: hidden;
}

a {
    color: var(--dark);
}

h1 {
    font-weight: 700;
    font-size: 1.8rem;
}

h2 {
    font-size: 1.4rem;
}

h3 {
    font-size: 0.87rem;
}

h4 {
    font-size: 0.8rem;
}

h5 {
    font-size: 0.77rem;
}

small {
    font-size: 0.75rem;
}

p {
    color: var(--dark-varient);
}

.primary {
    color: var(--primary);
}

.danger {
    color: var(--danger);
}

.success {
    color: var(--success);
}

.warning {
    color: var(--warning)
}