@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+HK:wght@100;300;400;500;700&display=swap');
:root {
    --primary: #7380ec;
    --danger: #ff7782;
    --success: #41f1b6;
    --warning: #ffbb55;
    --info-dark: #7d8da1;
    --info-light: #dce1eb;
    --dark: rgba(0,0,0,0.5);
    --black: black;
    --white: white;
    --primary-variant: #111e88;
    --dark-varient: #677483;
    --background: #f6f6f9;

    --card-radius: 2rem;
    --border-radius: 0.4rem;
    --border-radius2: 0.8rem;
    --border-radius3: 1.2rem;

    --card-padding: 1.8rem;
    --padding: 1.2rem;
    --box-shadow: 0 2rem 3rem darkgrey;
}

.dark-vars {
    --background: #181a1e;
    --white: #202528;
    --dark: #edeffd;
    --black: #edeffd;
    --dark-varient: #a3bdcc;
    --light: rgba(0, 0, 0, 0.4);
    --box-shadow: 0 2rem 3rem var(--light);
}

* {
    margin: 0;
    padding: 0;
    outline: 0;
    appearance: none;
    border: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

html {
    font-size: 14px;
}

body {
    width: 100vw;
    height: 100vh;
    font-family: 'Noto Sans HK', sans-serif;
    font-size: 0.88rem;
    background: var(--background);
    user-select: none;
    overflow-x: hidden;
}

.container {
    display: grid;
    width: 96%;
    margin: 0 auto;
    gap: 1.8rem;
    grid-template-columns: 14rem auto 23rem;
}

a {
    color: var(--dark);
}

h1 {
    font-weight: 700;
    font-size: 1.8rem;
}

h2 {
    font-size: 1.4rem;
}

h3 {
    font-size: 0.87rem;
}

h4 {
    font-size: 0.8rem;
}

h5 {
    font-size: 0.77rem;
}

small {
    font-size: 0.75rem;
}

p {
    color: var(--dark-varient);
}

.primary {
    color: var(--primary);
}

.danger {
    color: var(--danger);
}

.success {
    color: var(--success);
}

.warning {
    color: var(--warning)
}

aside {
    height: 100vh;
}

aside .top {
    background: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1.4rem;
}

aside .close {
    display: none;
}

aside .sidebar {
    background: var(--white);
    display: flex;
    flex-direction: column;
    height: 86vh;
    position: relative;
    top: 3rem;
}

aside h3 {
    font-weight: 500;
}

aside .sidebar a {
    display: flex;
    color: var(--info-dark);
    margin-left: 2rem;
    gap: 1rem;
    align-items: center;
    position: relative;
    height: 3.7rem;
    transition: all 300ms ease;
}

aside .sidebar a i {
    font-size: 1.6rem;
    transition: all 300ms ease;
}

aside .sidebar a:last-child {
    position: absolute;
    bottom: 2rem;
    width: 100%;
}

aside .sidebar a.active {
    background: white;
    color: var(--primary);
    margin-left: 0;
}

aside .sidebar a.active:before {
    content: '';
    width: 6px;
    height: 100%;
    background: var(--primary);
}

aside .sidebar a.active i {
    color: var(--primary);
    margin-left: calc(1rem -3px);
}

aside .sidebar a:hover {
    color: var(--primary);
} 

aside .sidebar a:hover i {
    margin-left: 1rem;
}

main {
    margin-top: 1.4rem;
}

main .individuals {
    display: none;
}

main .duties {
    display: none;
}

main .shortcut {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.6rem;
}

main .shortcut > div {
    background: white;
    padding: var(--card-padding);
    border-radius: var(--card-radius);
    margin-top: 1rem;
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
}

main .shortcut > div:hover {
    box-shadow: none;
}

main .shortcut > div i {
    background: var(--primary);
    padding: 0.5rem;
    border-radius: 25%;
    color: white;
    font-size: 1rem;
}

main .shortcut > div.createDuty i {
    background: var(--danger);
}

main .shortcut > div.createUser i {
    background: var(--success);
}

main .shortcut > div .middle {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.top {
    display: flex;
    justify-content: end;
    gap: 2rem;
}

.top button {
    display: none;
}

.theme-toggler {
    background: darkgrey;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 1.6rem;
    width: 4.2rem;
    cursor: pointer;
    border-radius: var(--border-radius);
    margin-top: 4%;
}

.theme-toggler i {
    font-size: 1.2rem;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.theme-toggler i.active {
    background: var(--primary);
    color: white;
    border-radius: var(--border-radius);
}

@media screen and (max-width: 1200px) {
    .container {
        width: 94%;
        grid-template-columns: 7rem auto 23rem;
    }

    aside .sidebar h3 {
        display: none;
    }

    aside .sidebar a {
        width: 5.6rem;
    }

    aside .sidebar a:last-child {
        position: relative;
        margin-top: 1.8rem;
    }

    main .shortcut {
        grid-template-columns: 1fr;
        gap: 0;
    }
}

@media screen and (max-width: 768px) {
    .container {
        width: 100%;
    }

    aside {
        position: fixed;
        left: -100%;
        background-color: white;
        width: 18rem;
        z-index: 3;
        box-shadow: 1rem 3rem 4rem darkgrey;
        height: 100vh;
        padding-right: var(--card-padding);
        display: none;
        animation: showMenu 400ms ease forwards;
    }

    @keyframes showMenu {
        to {
            left: 0;
        }
    }

    aside .sidebar h3 {
        display: inline;
    }

    aside .sidebar a {
        width: 100%;
        height: 3.4rem;
    }

    aside .sidebar a:last-child {
        position: absolute;
        bottom: 5rem;
    }

    aside .close {
        display: inline-block;
        cursor: pointer;
        font-size: 1.75rem;
    }

    main {
        padding: 0 1rem;
        margin-top: 8rem;
    }

    .top {
        position: fixed;
        top: 0;
        left: 0;
        align-items: center;
        padding: 0 0.8rem;
        height: 4.6rem;
        background: white;
        width: 100%;
        margin: 0;
        z-index: 2;
        box-shadow: 0 1rem 1rem grey;
    }

    .top .theme-toggler {
        width: 4.4rem;
        position: absolute;
        left: 66%;
    }

    .top button {
        display: inline-block;
        background: transparent;
        cursor: pointer;
        color: var(--dark);
        position: absolute;
        left: 1rem;
    }

    .top button i {
        font-size: 2rem;
    }
}

main .report button {
    margin: 0 auto;
    display: block;
    background-color: var(--white);
    color: var(--black);
    border: 2.5px solid var(--black);
    font-size: 30px;
    border-radius: var(--border-radius);
    padding: 12px 6px;
    cursor: pointer;
    margin-left: 50%;
    transition: 350ms;
}

main .report button:hover {
    background-color: var(--black);
    color: var(--white);
    border: 2.5px solid var(--white);
}

main .report input::-webkit-outer-spin-button,
main .report input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

main .report input[type=number]{
    margin: 0 auto;
    display: block;
    background-color: var(--white);
    color: var(--black);
    border: 2.5px solid var(--black);
    font-size: 13.7px;
    border-radius: var(--border-radius);
    padding: 12px 6px;
    margin-bottom: 20px;
    margin-left: 50%;
    transition: 350ms;
    -moz-appearance: textfield;
}